{% extends "trees/base.html" %}
{% block content %}
  <h2>Planted Tree Details</h2>
  <p><strong>Species:</strong> {{ tree.tree.name }} ({{ tree.tree.scientific_name }})</p>
  <p><strong>Location:</strong> ({{ tree.location_lat }}, {{ tree.location_lon }})</p>
  <p><strong>Estimated age:</strong> {{ tree.age }} years</p>
  <p><strong>Planted on:</strong> {{ tree.planted_at|date:"d/m/Y H:i" }}</p>
  <p><strong>Account:</strong> {{ tree.account.name }}</p>

  <p><a href="{% url 'user_trees' %}">← Back to My Trees</a></p>
{% endblock %}
