{% extends "trees/base.html" %}
{% block content %}
  <h2>My Planted Trees</h2>
  <p><a href="{% url 'add_planted_tree' %}">+ Plant new tree</a></p>
  <ul>
    {% for t in trees %}
      <li>
        <a href="{% url 'tree_detail' t.pk %}">
          {{ t.tree.name }} — coordinates: ({{ t.location_lat }}, {{ t.location_lon }})
        </a> — on {{ t.planted_at|date:"d/m/Y H:i" }}
      </li>
    {% empty %}
      <li>You haven’t planted any trees yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
